:root {
  --primary-color      : #007bff;
  --primary-hover-color: #0056b3;
  --background-color   : #f9f9f9;
  --border-color       : #ccc;
  --text-color         : #000;
}

.container {
  display        : flex;
  justify-content: center;
  align-items    : center;
  height         : 100vh;
}

.form-container {
  max-width       : 90%;
  width           : 400px;
  margin          : 0 auto;
  padding         : 20px;
  border          : 1px solid var(--border-color);
  border-radius   : 5px;
  background-color: var(--background-color);
}

.input-group {
  margin-bottom: 15px;
}

.input-group input {
  width        : 95%;
  padding      : 10px;
  border       : 1px solid var(--border-color);
  border-radius: 5px;
}

.input-group input:focus {
  outline     : none;
  border-color: var(--primary-color);
}

.button {
  width           : 100%;
  padding         : 10px;
  border          : none;
  border-radius   : 5px;
  background-color: var(--primary-color);
  color           : #fff;
  cursor          : pointer;
}

.button:hover {
  background-color: var(--primary-hover-color);
}