.container-users {
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.form-container-users {
  max-width: 90%;
  width    : 400px;
  margin   : 0 auto;
  padding  : 20px;
}

.input-group-users {
  margin-bottom: 15px;
}

.input-group-users label {
  display      : block;
  margin-bottom: 5px;
}

.input-group-users input,
.input-group-users select {
  width        : 100%;
  padding      : 10px;
  border       : 1px solid #ccc;
  border-radius: 5px;
}

.input-group-users input:focus,
.input-group-users select:focus {
  outline     : none;
  border-color: #007bff;
}

.button {
  width           : 100%;
  padding         : 10px;
  border          : none;
  border-radius   : 5px;
  background-color: #007bff;
  color           : #fff;
  cursor          : pointer;
}

.button:hover {
  background-color: #0056b3;
}

.table-container {
  border          : 1px solid #ccc;
  border-radius   : 5px;
  overflow        : auto;
  background-color: white;
  color           : black;
  width           : 350px;
  margin          : 10px;
}

.user-table {
  width          : 100%;
  border-collapse: collapse;
}

.user-table th,
.user-table td {
  padding      : 8px;
  border-bottom: 1px solid #ddd;
}

.user-table th {
  background-color: #f2f2f2;
  font-weight     : bold;
  text-align      : left;
}

.user-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.user-table tbody tr:hover {
  background-color: #ddd;
}